# GitHub Actions Runner
actions-runner/

# Magento Core Large Folders (not needed in git)
/dev/
/pub/
/lib/
/setup/
/vendor/
/generated/

# Magento specific
/var/
/app/etc/env.php
/app/etc/config.php

# Logs
*.log
var/log/
var/report/

# Cache
var/cache/
var/page_cache/
var/session/

# Temp files
.DS_Store
*.swp
*.swo
Thumbs.db
